<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Diputado</h1>

    <form action="/guardarDiputado" method="post">
        <label for="">Codigo</label>
        <input type="text" name="iddiputado">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        <label for="">Apellido</label>
        <input type="text" name="apellido">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>